@import "tailwindcss";

@theme {
  --font-sans: "Onest", sans-serif;
}

@layer base {
  body {
    background-color: #000;
    color: #fff;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}
